.footer__list {
  font-family: $Circe;
  @include font(16px, 34px);
}

.footer__list a {
  text-decoration: none;
  color: $black-2;
}

.footer__copy {
  font-family: $Circe;
  @include font(12px, 25px);
  letter-spacing: 0.04em;
  color: rgba($black-1, 0.5);
}