.header__container {
  display: flex;
  align-items: center;
  margin-top: 26px;
}

.header__logo {
  display: inline-block;
  margin-right: 50px;
  vertical-align: middle;
}

.header__nav {
  font-family: $Circe;
  @include font(13px, 32px);
  text-transform: uppercase;
}

.header__nav a {
  text-decoration: none;
  color: $black-2;
}

.header__nav-list {
  @include list-none;
  display: flex;
}

.header__nav-item {
  margin-right: 45px;
}

.header__nav-item:last-of-type {
  margin-right: 0;
}

.header__tel {
  font-family: $Circe;
  font-weight: 700;
  @include font(15px, 40px);
  text-decoration: none;
  color: $black-2;
  margin-left: auto;
}