.intro {
  position: relative;
}

.intro__container {
  display: flex;
}

.intro__title {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 135px;
  width: 362px;
  font-family: $Playfair;
  font-weight: 700;
  @include font(78px, 70px);
  letter-spacing: 0.075em;
  color: $black-2;
}

.intro__text {
  margin: 0;
  margin-bottom: 40px;
  font-family: $IntroScript;
  @include font(41px, 78px);
  color: $dark-blue;
}

.intro__choice-btn {
  padding: 12px 66px;
  margin-bottom: 130px;
  display: inline-block;
  border-radius: 26px;
  font-family: $Circe;
  @include font(13px, 27px);
  text-transform: uppercase;
  text-decoration: none;
  color: $white-1;
  background-image: linear-gradient(to top, $dark-red-1 0%, $light-red 100%);
  box-shadow: 0px 2px 5px 0px rgba($dark-red-2, 0.64);  
}

.intro__choice-btn:hover {
  background-image: linear-gradient(to top, $dark-red-1 0%, $light-red 100%);
  box-shadow: 0px 3px 9px 1px rgba($red-2, 0.49);
}

.intro__list {
  @include list-none;
  display: flex;
  margin-bottom: 250px;
}

.intro__item {
  padding-left: 72px;
  margin-right: 70px;
  font-family: $Circe;
  @include font(14px, 18px);
  color: $black-1;
}

.intro__item:last-of-type {
  margin-right: 0;
}

.intro__item--nature {
  width: 85px;
}

.intro__image {
  position: absolute;
  top: 0;
  right: 0;
}