.reviews__title {
  font-family: $Playfair;
  @include font(40px, 66px);
  letter-spacing: 0.025em;
  color: $black-2;
}

.reviews__other {
  font-family: $Playfair;
  @include font(25px, 38px);
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.01em;
  color: $black-2;
}