@font-face {
  font-family: "Circe";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/Circe-Regular.woff2") format("woff2"),
    url("../fonts/Circe-Regular.woff") format("woff");
}

@font-face {
  font-family: "Circe";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/Circe-Bold.woff2") format("woff2"),
    url("../fonts/Circe-Bold.woff") format("woff");
}

@font-face {
  font-family: "Playfair";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/playfair-display-700.woff2") format("woff2"),
    url("../fonts/playfair-display-700.woff") format("woff");
}

@font-face {
  font-family: "Playfair";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src:
    url("../fonts/playfair-display-700italic.woff2") format("woff2"),
    url("../fonts/playfair-display-700italic.woff") format("woff");
}

@font-face {
  font-family: "IntroScript";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/IntroScriptR-H2Base.woff") format("woff");
}